<div class="row">
  <div class="col-md-12">
        <nav class="navbar navbar-default clear-border">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" routerLink="/">{{title}}</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a routerLink="/about/pinkaew">About</a></li>
              <li><a routerLink="/about/contact">Contact</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" > Type <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/" [queryParams]="{category: 'รองเท้า'}">รองเท้า</a></li>
                  <li><a routerLink="/" [queryParams]="{category: 'เสื้อ'}">เสื้อ</a></li>
                  <li><a routerLink="/" [queryParams]="{category: 'กระเป๋า'}">กระเป๋า</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"><span id="itemCount">{{ this.cartItemCount }}</span></span></a></li>
            </ul>
          </div>
        </nav>
  </div>
</div>
<div class="container">
  
  <router-outlet></router-outlet>
  <!-- <app-product-list [listItem]="listItem" *ngIf="!toggleCart"></app-product-list> -->
</div>
<!-- <app-shopping-cart *ngIf="toggleCart"></app-shopping-cart> -->
